<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.yikitchen.mapper.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.yikitchen.pojo.Collect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="storyid" property="storyid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="collecttime" property="collecttime" jdbcType="TIMESTAMP" />
    <result column="otherid" property="otherid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, storyid, uid, collecttime,otherid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.yikitchen.pojo.Collect" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into collect (storyid, uid, collecttime,otherid
      )
    values (#{storyid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{collecttime,jdbcType=TIMESTAMP}, #{otherid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.yikitchen.pojo.Collect" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        storyid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="collecttime != null" >
        collecttime,
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        #{storyid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="collecttime != null" >
        #{collecttime,jdbcType=TIMESTAMP},
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.yikitchen.pojo.Collect" >
    update collect
    <set >
      <if test="storyid != null" >
        storyid = #{storyid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="collecttime != null" >
        collecttime = #{collecttime,jdbcType=TIMESTAMP},
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.yikitchen.pojo.Collect" >
    update collect
    set storyid = #{storyid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      collecttime = #{collecttime,jdbcType=TIMESTAMP},
       ohterid = #{otherid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--<select id="collectOrNo" resultType="java.lang.Integer">
    select  count(*) from collect where storyid=#{storyid} and  otherid=#{otherid};
  </select>-->
</mapper>