<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.yikitchen.mapper.DiscussMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.yikitchen.pojo.Discuss" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="storyid" property="storyid" jdbcType="INTEGER" />
    <result column="otheruserid" property="otheruserid" jdbcType="INTEGER" />
    <result column="talk" property="talk" jdbcType="VARCHAR" />
    <result column="talktime" property="talktime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, storyid, otheruserid, talk, talktime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from discuss
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from discuss
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into discuss (storyid, otheruserid, talk, 
      talktime)
    values (#{storyid,jdbcType=INTEGER}, #{otheruserid,jdbcType=INTEGER}, #{talk,jdbcType=VARCHAR}, 
      #{talktime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        storyid,
      </if>
      <if test="otheruserid != null" >
        otheruserid,
      </if>
      <if test="talk != null" >
        talk,
      </if>
      <if test="talktime != null" >
        talktime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        #{storyid,jdbcType=INTEGER},
      </if>
      <if test="otheruserid != null" >
        #{otheruserid,jdbcType=INTEGER},
      </if>
      <if test="talk != null" >
        #{talk,jdbcType=VARCHAR},
      </if>
      <if test="talktime != null" >
        #{talktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    update discuss
    <set >
      <if test="storyid != null" >
        storyid = #{storyid,jdbcType=INTEGER},
      </if>
      <if test="otheruserid != null" >
        otheruserid = #{otheruserid,jdbcType=INTEGER},
      </if>
      <if test="talk != null" >
        talk = #{talk,jdbcType=VARCHAR},
      </if>
      <if test="talktime != null" >
        talktime = #{talktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    update discuss
    set storyid = #{storyid,jdbcType=INTEGER},
      otheruserid = #{otheruserid,jdbcType=INTEGER},
      talk = #{talk,jdbcType=VARCHAR},
      talktime = #{talktime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>