<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.yikitchen.mapper.DiscussMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.yikitchen.pojo.Discuss" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="storyid" property="storyid" jdbcType="INTEGER" />
    <result column="otherid" property="otherid" jdbcType="INTEGER" />
    <result column="talk" property="talk" jdbcType="VARCHAR" />
    <result column="talktime" property="talktime" jdbcType="TIMESTAMP" />

   <!-- <collection property="story" ofType="com.qfedu.yikitchen.pojo.Story">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="looknum" property="looknum" jdbcType="INTEGER" />
    <result column="playernum" property="playernum" jdbcType="INTEGER" />
    <result column="likenum" property="likenum" jdbcType="INTEGER" />
    </collection>-->
  </resultMap>
  <resultMap id="Discussaaa" type="com.qfedu.yikitchen.pojo.Discuss" extends="BaseResultMap">
  <association property="user" javaType="com.qfedu.yikitchen.pojo.User">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="headimg" property="headimg" jdbcType="INTEGER" />
    <result column="collectnum" property="collectnum" jdbcType="INTEGER" />
  </association>
    <!--<collection property="story" ofType="com.qfedu.yikitchen.pojo.Story">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="uid" property="uid" jdbcType="INTEGER" />
      <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
      <result column="content" property="content" jdbcType="VARCHAR" />
      <result column="looknum" property="looknum" jdbcType="INTEGER" />
      <result column="playernum" property="playernum" jdbcType="INTEGER" />
      <result column="likenum" property="likenum" jdbcType="INTEGER" />
    </collection>-->
  </resultMap>
  <sql id="Base_Column_List" >
    id, storyid, otherid, talk, talktime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from discuss
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from discuss
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into discuss (storyid, otherid, talk,
      talktime)
    values (#{storyid,jdbcType=INTEGER}, #{otherid,jdbcType=INTEGER}, #{talk,jdbcType=VARCHAR},
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        storyid,
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
      <if test="talk != null" >
        talk,
      </if>
      <if test="talktime != null" >
        talktime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storyid != null" >
        #{storyid,jdbcType=INTEGER},
      </if>
      <if test="otherid != null" >
        #{otherid,jdbcType=INTEGER},
      </if>
      <if test="talk != null" >
        #{talk,jdbcType=VARCHAR},
      </if>
      <if test="talktime != null" >
        #{talktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    update discuss
    <set >
      <if test="storyid != null" >
        storyid = #{storyid,jdbcType=INTEGER},
      </if>
      <if test="otherid != null" >
        otherid = #{otherid,jdbcType=INTEGER},
      </if>
      <if test="talk != null" >
        talk = #{talk,jdbcType=VARCHAR},
      </if>
      <if test="talktime != null" >
        talktime = #{talktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.yikitchen.pojo.Discuss" >
    update discuss
    set storyid = #{storyid,jdbcType=INTEGER},
      otherid = #{otherid,jdbcType=INTEGER},
      talk = #{talk,jdbcType=VARCHAR},
      talktime = #{talktime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectDiscuss" resultMap="Discussaaa">

  select
d.*,u.headimg,u.username
FROM discuss d LEFT JOIN `user` u on u.id=d.otherid

  </select>

</mapper>