<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.yikitchen.mapper.LikeMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.yikitchen.pojo.Like" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="otherid" property="otherid" jdbcType="INTEGER" />
    <result column="likenum" property="likenum" jdbcType="INTEGER" />
    <result column="storyid" property="storyid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid,otherid, likenum,storyid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from like
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `like`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.yikitchen.pojo.Like" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `like` (userid,otherid, likenum,storyid)
    values (#{userid,jdbcType=INTEGER},#{otherid,jdbcType=INTEGER}, #{likenum,jdbcType=INTEGER},#{storyid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.yikitchen.pojo.Like" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `like`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
      <if test="likenum != null" >
        likenum,
      </if>
      <if test="storyid != null" >
        storyid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
      <if test="likenum != null" >
        #{likenum,jdbcType=INTEGER},
      </if>
      <if test="storyid != null" >
        storyid,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.yikitchen.pojo.Like" >
    update like
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
      <if test="likenum != null" >
        likenum = #{likenum,jdbcType=INTEGER},
      </if>
      <if test="storyid != null" >
        storyid,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.yikitchen.pojo.Like" >
    update like
    set userid = #{userid,jdbcType=INTEGER},
     otherid = #{otherid,jdbcType=INTEGER},
      likenum = #{likenum,jdbcType=INTEGER},
       storyid = #{storyid,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="likeOrNo" resultType="com.qfedu.yikitchen.pojo.Like">
    select  * from `like` where storyid=#{storyid} and  otherid=#{otherid};
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from `like`
    where storyid = #{storyid,jdbcType=INTEGER} and otherid=#{otherid}
  </delete>
  <select id="LikeNum" resultType="com.qfedu.yikitchen.pojo.Like">
    select count(storyid) as  likenum,storyid from `like` group  by  storyid;
  </select>
</mapper>