<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.yikitchen.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.yikitchen.pojo.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="productdesc" property="productdesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pname, typeid, price, productdesc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.yikitchen.pojo.Product" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product (pname, typeid, price, 
      productdesc)
    values (#{pname,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{productdesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.yikitchen.pojo.Product" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pname != null" >
        pname,
      </if>
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="productdesc != null" >
        productdesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="productdesc != null" >
        #{productdesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.yikitchen.pojo.Product" >
    update product
    <set >
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="productdesc != null" >
        productdesc = #{productdesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.yikitchen.pojo.Product" >
    update product
    set pname = #{pname,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      productdesc = #{productdesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="Products" type="com.qfedu.yikitchen.pojo.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="productdesc" property="productdesc" jdbcType="VARCHAR" />

    <collection property="pitcures" ofType="com.qfedu.yikitchen.pojo.Pitcure">
      <id  column="ptid" property="id"></id>

      <result column="url" property="url"></result>

      <result column="productnum" property="productnum"></result>

    </collection>

  </resultMap>

  <select id="select" resultMap="Products" parameterType="java.lang.Integer" >
   SELECT p.id, p.pname,p.typeid,p.price,p.productdesc,pt.url ,pt.productnum,t.typename FROM product p LEFT JOIN type t on p.typeid =t.id LEFT JOIN pitcure pt on p.id =pt.productnum
   where p.typeid = #{id}
  </select>

  <select id="selectAll" resultMap="Products" parameterType="java.lang.Integer" >
   SELECT p.id, p.pname,p.typeid,p.price,p.productdesc,pt.url ,pt.productnum,t.typename FROM product p LEFT JOIN type t on p.typeid =t.id LEFT JOIN pitcure pt on p.id =pt.productnum
  </select>



  <select id="selectById"  resultMap="Products" parameterType="java.lang.Integer" >
   SELECT p.id, p.pname,p.price,p.productdesc,pt.url,pt.productnum ,pt.id FROM product p LEFT JOIN  pitcure pt on p.id =pt.productnum
  where p.id = #{id,jdbcType=INTEGER}
</select>


</mapper>