<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.yikitchen.mapper.StepMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.yikitchen.pojo.Step" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="greensid" property="greensid" jdbcType="INTEGER" />
    <result column="stepname" property="stepname" jdbcType="VARCHAR" />
    <result column="stepurl" property="stepurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, greensid, stepname, stepurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.yikitchen.pojo.Step" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into step (greensid, stepname, stepurl
    )
    values (#{greensid,jdbcType=INTEGER}, #{stepname,jdbcType=VARCHAR}, #{stepurl,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.yikitchen.pojo.Step" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="greensid != null" >
        greensid,
      </if>
      <if test="stepname != null" >
        stepname,
      </if>
      <if test="stepurl != null" >
        stepurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="greensid != null" >
        #{greensid,jdbcType=INTEGER},
      </if>
      <if test="stepname != null" >
        #{stepname,jdbcType=VARCHAR},
      </if>
      <if test="stepurl != null" >
        #{stepurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.yikitchen.pojo.Step" >
    update step
    <set >
      <if test="greensid != null" >
        greensid = #{greensid,jdbcType=INTEGER},
      </if>
      <if test="stepname != null" >
        stepname = #{stepname,jdbcType=VARCHAR},
      </if>
      <if test="stepurl != null" >
        stepurl = #{stepurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.yikitchen.pojo.Step" >
    update step
    set greensid = #{greensid,jdbcType=INTEGER},
      stepname = #{stepname,jdbcType=VARCHAR},
      stepurl = #{stepurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getStepByGreensid" resultType="Step">

    select stepname,stepurl from step where greensid = #{id}
  </select>

  <insert id="insertStep">
    insert into step values
    <foreach collection="steps" separator="," item="step">
      (#{step.greensid},#{step.stepname},#{step.stepurl})
    </foreach>
  </insert>
</mapper>